
/* 
++++++++++++++++++
Main Application
++++++++++++++++++
*/
.main{
    min-height: calc(100vh - 100px);
}


/* 
++++++++++++++++++
Footer
++++++++++++++++++
*/
.footer{
    background-color: rgb(33, 33, 33);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}