<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background: #80808014 !important">
  <div class="container">
    <a class="navbar-brand" href="/">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my-blog">My blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/all-user">All Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/articles/new">New Blog</a>
        </li>
      </ul>
      <% if(session[:username])%>
      <a style="text-decoration:unset; color:#000;" href="/profile">
        <i class="fa-solid fa-user"></i> &nbsp; <%= session[:username]%>
      </a>
      <% else %>
        <button class="btn btn-primary mx-2" type="submit">Sign In</button>
        <button class="btn btn-primary" type="submit">Sign Up</button>
      <% end %>
    </div>
  </div>
</nav>
